@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

:root{
    --primaryDarkCyan: hsl(158, 36%, 37%);
    --primaryCrem: hsl(30, 38%, 92%);
    --neutralDarkBlue: hsl(212, 21%, 14%);
    --neutralGray: hsl(228, 12%, 48%);
    --neutralWhite: hsl(0, 0%, 100%);
}
*{
    font-family: "Montserrat";
    box-sizing: border-box;
}

body, .product-info ,.product-info button, .product-info .price-product{
    display: flex;
}

body, .product-info button, .product-info .price-product{
    align-items: center;
}

body, .product-info button{
    justify-content: center;
}

body{
    margin: 0;
    height: 100dvh;
    background-color: var(--primaryCrem);
    padding: 10px;
}

.product-container{
    margin: 1em;
    display: grid;
    background-color: var(--neutralWhite);
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    width: 585px;
    min-width: 290px;
    grid-auto-rows: minmax(17em, 26rem);
    border-radius: 10px;
}

.img-container{
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.product-info{
    padding: 30px 30px 25px 25px;
    flex-direction: column;
    justify-content: space-around;
    .name-product, .discount-price{
        font-family: "Fraunces";
        font-size: clamp(1.625rem, 1.449rem + 0.751vw, 2.125rem);
    }
    .name-product{
        margin: 10px 0 5px 0;
    }
    .discount-price{
        display: block;
        color: var(--primaryDarkCyan);
        margin-top: 10px;
    }
    .discount-price, .product-details{
        margin-bottom: 0;
    }
    .product-details{
        font-size: clamp(0.844rem, 0.833rem + 0.047vw, 0.875rem);
        line-height: 1.4em;
    }
    span{
        font-size: clamp(0.75rem, 0.728rem + 0.094vw, 0.813rem);
    }
    .product-details,span{
        color: var(--neutralGray);
        font-weight: 500;
    }
    .price-product{
        margin-bottom: 10px;
        .real-price{
            display: inline-block;
            padding: 8px 0 0 10px;
        }
    }
    button{
        background-color: var(--primaryDarkCyan);
        padding: 1em;
        color: var(--neutralWhite);
        font-weight: 600;
        border: none;
        border-radius: 8px;
        margin-bottom: 3px;
        .icon{
            margin-right: 5px;
        }
    }
    button:hover{
        background-color: var(--neutralDarkBlue);
        cursor: pointer;
    }
}

@media (max-width: 569px) {
    .product-container{
        grid-template-rows: minmax(10rem, 17rem) minmax(17em, 20rem);
        /* min-width: 290px; */
        max-width: 395px;
    }
    .img-container{
        border-radius: 10px 10px 0 0 ;
        img{
            object-position:  34% 34%;
        }
    }
} 